{% comment %}Put the snippet code of the review app below{% endcomment %}



   <!-- Stamped - Begin Star Rating Badge -->
<span 
class="stamped-product-reviews-badge stamped-main-badge" 
data-id="{{ product.id }}" 
data-product-sku="{{ product.handle }}" 
data-product-title="{{product.title}}" 
data-product-type="{{product.type}}" 
style="display: block;">

</span>
<!-- Stamped - End Star Rating Badge -->